* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    /* --text-color:#000;
    --text1-color:#14202b;
    --main-bg-color:#264067;
    --header1color:#5080ae;*/
    --hover-color:#e14a4c; 
    --header-color:#b2c6dd;
}

body {
    font-size: 16px;
}
