.footer-wrp {
    display: grid;
    grid-template: 
        "contact copyright rehearsal" auto
        / 1fr 1fr 1fr
    ;
    align-items: center;
    grid-gap: 10px
}

.footer-logo-wrp {
    height: 60px;
    margin-bottom: 10px;
}

.contact-wrp {
    grid-area: contact;
    margin: 10px 0;
}

.copyright-wrp {
    grid-area: copyright;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.rehearsal-wrp {
    grid-area: rehearsal;
    margin: 10px 0;
}
