.header-wrp {
    display: grid;
    grid-template: 
        "logo icons" 65px
        "logo navigation" 65px
        / 300px  auto
    ;
}

.search {
    margin-right: 50px;
    cursor: pointer;
}

.search:hover path {
    color: var(--hover-color);
}

.logo-wrp {
    grid-area: logo;
    place-self: center start;
    height: 100px;
}

.icons-wrp {
    grid-area: icons;
    place-self: center end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrp {
    grid-area: navigation;
}

.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social li {
    margin: 0 10px;
    font-size: 1.4rem;
}

.social li:last-child {
    margin-right: 0;
}

.social li a {
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.social li a:hover {
    color: var(--hover-color);
}

.social li:hover path {
    color: var(--hover-color);
}

  
#menu-toggle input {
    display: none;   
}
    

#menu-toggle span {
    display: none;
}

#menu-toggle {
    height: 100%;
}

#menu {
    height: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu li {
    margin: 0 10px;
    font-size: 1.3rem;
    align-self: center;
}

#menu li:last-child {
    margin-right: 0;
}

#menu li a {
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

#menu li a:hover {
    color: var(--hover-color);
}
