body {
    display: grid;
    grid-template: 
        "header header header header" 130px
        ". main autor-info ." max-content
        ". main aside ." auto
        "footer footer footer footer" auto
        / auto 900px 300px auto
    ;
}

.header-wrp {
    grid-area: header;
    background-color: var(--base-color);
    padding: 0 calc((100% - 1200px) / 2);
}

.main-wrp {
    grid-area: main;
    background-color: var(--light-accent-color);
}

.autor-info-wrp {
    grid-area: autor-info;
    background-color: var(--light-base-color);
}

.aside-wrp {
    grid-area: aside;
    background-color: var(--light-base-color);
}

.footer-wrp {
    grid-area: footer;
    background-color: var(--base-color);
    padding: 0 calc((100% - 1200px) / 2);
}

